
name: Publish to GitHub Packages
on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  publish:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          server-id: 'github'
          server-username: ${{ github.actor }}
          server-password: ${{ github.token }}

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Publish to GitHub Packages
        id: publish
        run: mvn -B deploy -D altDeploymentRepository=github::default::https://maven.pkg.github.com/SYpiece/OJOCL -X