name: Test

on: 
  workflow_dispatch:

jobs:
  test:
    permissions:
      contents: read
    
    runs-on: ubuntu-latest
    steps:
      - name: test actor and token
        run: echo "actor:${{ github.actor }} token:${{ github.token }}"

      - name: test settings
        run: cat $GITHUB_WORKSPACE/settings.xml


      - name: test path
        run: ls ${{ github.path }}
