name: Test

on: 
  workflow_dispatch:

jobs:
  test:
    permissions:
      contents: read
    
    runs-on: ubuntu-latest
    steps:
      - name: test actor and token
        run: echo "actor:${{ github.actor }} token:${{ github.token }}"

      - name: test paths
        run: ls ${{ github.path })
